.a{
    border: 1px solid gray;
    border-radius: 5px;
}
.b{
    border: 2px solid aqua;
    border-radius: 5px;
}
.c{
    border: 1px solid red;
    border-radius: 5px;
}
.d{
    border-radius: 5px;
}
.img{
    margin-left: 120px;
}